{% extends "layout.html" %}
{% block title %}
History
{% endblock %}
{% block main %}
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Symbol</th>
            <th scope="col">Quantity</th>
            <th scope="col">Type</th>
            <th scope="col">Price</th>
            <th scope="col">Total</th>
            <th scope="col">Time</th>
        </tr>
    </thead>
    <tbody>
        {% for t in transactions %}
        <tr>
            <th scope="row">{{ loop.index0 }}</th>
            <td>{{ t['symbol'] }}</td>
            <td>{{ t['quantity'] }}</td>
            <td>{{ t['type'] }}</td>
            <td>{{ t['price'] }}</td>
            <td>{{ t['total'] }}</td>
            <td>{{ t['created_on'] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}